.title{
    text-align: center;
}
.form,.loading{

    width: 40%;
    margin: auto;
    text-align: center;

}

.mews{
    width: 40%;
    margin: auto;
}

.mew{
    border: 1px solid lightgray;
    padding: 12px;
    color: dodgerblue;
}

.loading{
    display: none;
}